.page-header{
    height: 10vh;
    background-position: left center;
    background-size: cover;
    margin: 0;
    padding: 5rem;
    border: 0;
    display: flex;
    align-items: left;
    justify-content: center;

}
.ml5 {
    margin-left: 5px;
}

.vam{
    vertical-align: middle;
}

.h-r-login a {
    cursor: pointer;
    line-height: 50px;
    color: aliceblue;
}