.page-header{
    height: 20% !important;
}
.page-main{
    height: 70%;
    background-position: left center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    // display: flex;
    align-items: left;
    justify-content: left;

}
.page-footer{
    height: 10%;

    background-position: left center;
    background-size: cover;
}
.header-image{
    // background-size: 20px 20px;
    vertical-align: middle;

  
    /* 放置路径： public/image/file-icon.png */
    background-image: url('@/assets/img/pics/forest-background.png');
}
.ml5 {
    margin-left: 5px;
}

.vam{
    vertical-align: middle;
}

.h-r-login a {
    cursor: pointer;
    color: aliceblue;
}

.menu-header{
    padding-left: 55px;
    background-color: "#006600";
}
.el-menu--horizontal > .el-submenu .el-submenu__title,
.el-menu--horizontal > .el-submenu.is-active .el-submenu__title,
.el-submenu__title i {
	color: #fff;
}
.el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
	border-bottom: 2px solid #ff8923;
	color: #006600;
}
//鼠标悬浮时，子菜单的样式
.el-menu-item:hover {
	outline: 0 !important;
	color: #FFFFFF !important;
	background: transparent;
}
// 一级菜单选中的样式
.el-menu-item.is-active{
    color: #FFFFFF !important;
    border-bottom-color: transparent !important;
}
// 二级菜单 选中的样式
.el-menu--horizontal > .el-submenu.is-active .el-submenu__title{
    color: #FFFFFF !important;
    border-bottom-color: transparent !important;
}
//鼠标悬浮时，主菜单的样式
.el-submenu__title:focus,
.el-submenu__title:hover {
	outline: 0 !important;
	color: #fff !important;
	background: transparent;
}
.el-menu--horizontal:focus,
.el-menu--horizontal:hover {
	outline: 0 !important;
	color: #fff !important;
	background: transparent;
}
.nav-menu-son .el-menu--horizontal:hover{
	background: pink!important;
}
.el-menu {
	background-color: "#319651";
    width:100% !important;
}
.el-menu-item a:hover {
	background: none;
}
.el-menu--popup-bottom-start {
	margin-top: -2px;
}
.el-menu--popup {
	background: none !important;
	padding: 0 0;
  min-width: 120px !important;
  line-height: 40px !important;
  box-shadow: 0 4px 8px 0 rgba(25,14,109,0.13);
  border-radius: 5px;
}
.el-menu--horizontal .el-menu {
	background: none;
}
.el-menu--horizontal> .el-menu-item{
    height: 40px;
    line-height: 40px;
    color: "#dadada" !important;
}
.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-submenu__title {
	background-color: rgba(255, 255, 255, 0.6);
	float: none;
	height: 36px;
	line-height: 36px;
	padding: 0 22px;
	color: #dadada !important;
	z-index: 100;
	font-weight: 500;
}
//二次菜单悬浮及背景样式
.el-menu--popup-bottom-start .el-menu-item:hover{
	color: rgba(86,86,86,1) !important;
}
.el-menu--popup-bottom-start .el-menu-item{
  background: #fff !important;
}
.el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }
.el-header{
    // height: 245px !important;
    // height:100%;
    // display: flex;
    // flex-direction: row;
    // line-height:300px;
    background-size: 1040px 300px;
    padding: 0;
    background-image:url('@/assets/img/pics/forest-3.jpg');
  }
.main {
    background-color: #000010;
    color: #333;
    text-align: center;
    line-height: 60px;
  }
.lab-title{
    // -webkit-text-stroke: 2px black;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 5px;
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
    color:#FFFFFF !important;
}
.lab-subtitle{
    // -webkit-text-stroke: 2px black;
    padding-top: 15px;
    padding-left: 40px;
    padding-bottom: 10px;
    font-size: 40px;
    font-style: italic;
    color:#FFFFFF !important;
}
.main-menu{
    padding-left: 0px;
}
.news{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
}
.course{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
}
.page-redir{
    vertical-align: middle;
}
.login-button{
    width: 100%;
    margin-bottom: 15px;
}