html,
body,
form,
table,
div,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
ul,
li,
button {
  margin: 0;
  padding: 0;
  border: 0;
}
table {
  border-collapse: collapse;
  border-width: 0;
  empty-cells: show;
}
html,
body {
  height: 100%;
}
#gs_top {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 964px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#gs_top > *:not(#x) {
  -webkit-tap-highlight-color: rgba(204, 204, 204, 0.5);
}
.gs_el_ph #gs_top,
.gs_el_ta #gs_top {
  min-width: 320px;
}
#gs_top.gs_nscl {
  position: fixed;
  width: 100%;
}
body,
td,
input,
button {
  font-size: 13px;
  font-family: Arial, sans-serif;
  line-height: 1.24;
}
body {
  background: #fff;
  color: #222;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
}
.gs_gray {
  color: #777777;
}
.gs_red {
  color: #dd4b39;
}
.gs_grn {
  color: #006621;
}
.gs_lil {
  font-size: 11px;
}
.gs_med {
  font-size: 16px;
}
.gs_hlt {
  font-weight: bold;
}
a:link {
  color: #1a0dab;
  text-decoration: none;
}
a:visited {
  color: #660099;
  text-decoration: none;
}
a:hover,
a:hover .gs_lbl {
  text-decoration: underline;
}
a:active,
a:active .gs_lbl,
a .gs_lbl:active {
  color: #d14836;
}
.gs_el_tc a:hover,
.gs_el_tc a:hover .gs_lbl {
  text-decoration: none;
}
.gs_pfcs a:focus,
.gs_pfcs button:focus,
.gs_pfcs input:focus,
.gs_pfcs label:focus {
  outline: none;
}
.gs_a,
.gs_a a:link,
.gs_a a:visited {
  color: #006621;
}
.gs_a a:active {
  color: #d14836;
}
a.gs_fl:link,
.gs_fl a:link {
  color: #1a0dab;
}
a.gs_fl:visited,
.gs_fl a:visited {
  color: #660099;
}
a.gs_fl:active,
.gs_fl a:active {
  color: #d14836;
}
.gs_fl {
  color: #777777;
}
.gs_ctc,
.gs_ctu {
  vertical-align: middle;
  font-size: 11px;
  font-weight: bold;
}
.gs_ctc {
  color: #1a0dab;
}
.gs_ctg,
.gs_ctg2 {
  font-size: 13px;
  font-weight: bold;
}
.gs_ctg {
  color: #1a0dab;
}
a.gs_pda,
.gs_pda a {
  padding: 7px 0 5px 0;
}
.gs_alrt {
  background: #f9edbe;
  border: 1px solid #f0c36d;
  padding: 0 16px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.gs_alrt:empty {
  display: none;
}
.gs_spc {
  display: inline-block;
  width: 12px;
}
.gs_br {
  width: 0;
  font-size: 0;
}
.gs_ibl {
  display: inline-block;
}
.gs_scl:after {
  content: "";
  display: table;
  clear: both;
}
.gs_ind {
  padding-left: 8px;
  text-indent: -8px;
}
.gs_ico,
.gs_icm {
  display: inline-block;
  background: no-repeat url(/intl/en/scholar/images/1x/sprite_20161020.png);
  background-position: -23px -161px;
  background-size: 169px;
  width: 21px;
  height: 21px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .gs_ico,
  .gs_icm {
    background-image: url(/intl/en/scholar/images/2x/sprite_20161020.png);
  }
}
.gs_el_ta .gs_nta,
.gs_ota,
.gs_el_ph .gs_nph,
.gs_oph {
  display: none;
}
.gs_el_ta .gs_ota,
.gs_el_ph .gs_oph {
  display: inline;
}
.gs_el_ta div.gs_ota,
.gs_el_ph div.gs_oph {
  display: block;
}
.gs_sth_g {
  visibility: hidden;
  max-height: 0;
}
.gs_sth_vis .gs_sth_g {
  max-height: 1000px;
}
.gs_sth_vis .gs_sth_b {
  position: fixed;
  top: 0;
}
@keyframes gs_anm_spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gs_rimg {
  display: block;
  background-color: #e5e5e5;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.gs_rimg > img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.gs_in_txtw {
  display: inline-block;
  vertical-align: middle;
}
.gs_in_txtb {
  display: block;
}
.gs_in_txt {
  color: #000;
  background-color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  height: 29px;
  line-height: 23px;
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
  padding: 3px 6px 1px 8px;
  border-radius: 1px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.gs_el_tc .gs_in_txt {
  font-size: 18px;
}
.gs_in_txtb .gs_in_txt {
  width: 100%;
}
.gs_in_txt:hover {
  border-color: #b9b9b9;
  border-top-color: #a0a0a0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.gs_in_txte .gs_in_txt {
  border-color: #dd4b39;
}
.gs_in_txt:focus {
  border-color: #4d90fe;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.gs_in_txt:disabled {
  color: #b8b8b8;
  border-color: #f1f1f1;
  box-shadow: none;
}
.gs_in_txtm .gs_in_txt {
  font-size: 13px;
  height: 24px;
  line-height: 16px;
  padding: 3px 6px;
}
.gs_el_tc .gs_in_txtm .gs_in_txt {
  height: 29px;
  line-height: 21px;
}
.gs_in_txts {
  font-size: 13px;
  line-height: 18px;
  color: #666;
}
.gs_in_txte .gs_in_txts {
  color: #dd4b39;
}
button {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  font-size: 13px;
  cursor: pointer;
  height: 29px;
  line-height: normal;
  min-width: 72px;
  padding: 0 8px;
  color: #444;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: center;
  background-color: #f5f5f5;
  -webkit-user-select: none;
  user-select: none;
}
button.gs_btn_rnd {
  border-radius: 14px;
  padding: 0 12px;
}
button.gs_btn_rnd.gs_btn_rndci {
  padding-left: 4px;
}
button.gs_btn_lrge {
  height: 41px;
  min-width: 82px;
  padding: 0 9px;
}
button.gs_btn_lrge.gs_btn_lrge_asym {
  padding-left: 5px;
  padding-right: 8px;
}
button.gs_btn_lrge.gs_btn_rnd {
  border-radius: 20px;
  padding: 0 16px;
}
button.gs_btn_lrge.gs_btn_rnd.gs_btn_rndci {
  padding-left: 10px;
}
button.gs_btn_cir {
  border-radius: 14.5px;
  min-width: 29px;
}
button.gs_btn_lrge.gs_btn_cir {
  border-radius: 20.5px;
  min-width: 41px;
}
button.gs_btn_mini {
  padding: 0;
  border: 0;
}
.gs_el_ph button.gs_btn_mph,
.gs_el_ta button.gs_btn_mta {
  height: 41px;
}
button .gs_wr {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
button .gs_wr:before {
  content: "";
  width: 0;
  height: 100%;
}
button .gs_wr:before,
button .gs_ico,
button .gs_rdt,
button .gs_lbl,
button .gs_icm {
  display: inline-block;
  vertical-align: middle;
}
button .gs_wr {
  font-size: 13px;
  text-transform: none;
}
.gs_btn_lrge .gs_wr {
  font-size: 15px;
}
.gs_btn_lsb .gs_wr {
  font-size: 11px;
  font-weight: bold;
}
.gs_btn_lsu .gs_wr {
  font-size: 11px;
  text-transform: uppercase;
}
.gs_btn_lrge.gs_btn_lsb .gs_wr,
.gs_btn_lrge.gs_btn_lsu .gs_wr,
.gs_btn_lrge.gs_btn_lrge_asym .gs_wr {
  font-size: 13px;
}
.gs_btn_half,
.gs_el_ta .gs_btn_hta,
.gs_el_ph .gs_btn_hph {
  min-width: 36px;
}
.gs_btn_lrge.gs_btn_half,
.gs_el_ta .gs_btn_lrge.gs_btn_hta,
.gs_el_ph .gs_btn_lrge.gs_btn_hph,
.gs_el_ta .gs_btn_mta,
.gs_el_ph .gs_btn_mph {
  min-width: 41px;
}
.gs_btn_slt {
  border-radius: 3px 0 0 3px;
}
.gs_btn_srt {
  margin-left: -1px;
  border-radius: 0 3px 3px 0;
}
.gs_btn_smd {
  margin-left: -1px;
  border-radius: 0;
}
button:hover {
  z-index: 2;
  color: #222;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}
button.gs_sel {
  background-color: #dcdcdc;
}
button:active {
  z-index: 2;
  background-color: #f1f1f1;
}
button:focus {
  z-index: 2;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.gs_pfcs button:-moz-focusring {
  outline: none;
}
a.gs_in_ib {
  position: relative;
  display: inline-block;
  line-height: 16px;
  padding: 6px 0 7px 0;
  -webkit-user-select: none;
  user-select: none;
}
a.gs_btn_lrge {
  height: 40px;
  padding: 0;
}
a.gs_in_ib .gs_lbl {
  display: inline-block;
  padding-left: 21px;
  color: #222;
}
a.gs_in_ib.gs_in_gray .gs_lbl {
  color: #444;
}
a.gs_in_ib .gs_lbl:not(:empty) {
  padding-left: 29px;
}
button.gs_in_ib .gs_lbl:not(:empty) {
  padding-left: 4px;
}
a.gs_in_ib:active .gs_lbl,
a.gs_in_ib .gs_lbl:active,
a.gs_in_ib :active ~ .gs_lbl {
  color: #d14836;
}
.gs_el_ta .gs_btn_hta .gs_lbl,
.gs_el_ph .gs_btn_hph .gs_lbl,
.gs_el_ta .gs_btn_mta .gs_lbl,
.gs_el_ph .gs_btn_mph .gs_lbl,
.gs_el_ta .gs_btn_cta .gs_lbl,
.gs_el_ph .gs_btn_cph .gs_lbl {
  display: none;
}
a.gs_in_ib .gs_ico {
  position: absolute;
  top: 3px;
  left: 0;
}
.gs_in_ib.gs_md_li .gs_ico {
  left: 14px;
}
.gs_el_tc .gs_in_ib.gs_md_li .gs_ico {
  top: 11px;
}
.gs_in_ib.gs_md_li.gs_md_lix .gs_ico {
  top: 10px;
  left: 16px;
}
a.gs_btn_lrge .gs_ico {
  top: 50%;
  left: 50%;
  margin: -10.5px 0 0 -10.5px;
}
.gs_in_ib .gs_ico {
  opacity: 0.55;
}
.gs_in_ib:hover .gs_ico {
  opacity: 0.72;
}
.gs_in_ib:active .gs_ico,
.gs_in_ib .gs_ico:active,
.gs_in_ib :active ~ .gs_ico {
  opacity: 1;
}
.gs_in_ib:disabled .gs_ico,
.gs_in_ib.gs_dis .gs_ico {
  opacity: 0.28;
}
.gs_in_ib.gs_btn_act .gs_ico,
.gs_in_ib.gs_btn_cre .gs_ico {
  opacity: 1;
}
.gs_btn_act:disabled .gs_ico,
.gs_btn_cre:disabled .gs_ico {
  opacity: 0.72;
}
.gs_rdt {
  position: relative;
  width: 0;
  height: 21px;
}
a.gs_in_ib .gs_rdt {
  left: 21px;
}
.gs_rdt:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  width: 5px;
  height: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #dd4b39;
}
.gs_notf {
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
  width: 16px;
  line-height: 16px;
  background-color: #d14836;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
}
.gs_notf:empty {
  display: none;
}
.gs_ind .gs_notf {
  text-indent: 0;
}
button.gs_btn_flat {
  border-color: transparent;
  background-color: transparent;
}
button.gs_btn_olact {
  color: #4d90fe;
  background-color: transparent;
}
button.gs_btn_flat:hover,
button.gs_btn_olact:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
button.gs_btn_flat:active,
button.gs_btn_olact:active {
  background-color: rgba(0, 0, 0, 0.1);
}
button.gs_btn_flat.gs_btn_flact {
  color: #1a0dab;
}
button.gs_btn_act {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  background-color: #4d90fe;
}
button.gs_btn_act:hover {
  color: #fff;
  background-color: #3983fe;
}
button.gs_btn_act.gs_sel {
  background-color: #2f6bcc;
}
button.gs_btn_act:active {
  background-color: #357ae8;
}
button.gs_btn_cre {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  background-color: #d14836;
}
button.gs_btn_cre:hover {
  color: #fff;
  background-color: #c53727;
}
button.gs_btn_cre.gs_sel {
  background-color: #992b1e;
}
html:not(.gs_pfcs) .gs_btn_act:focus:not(:active) {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
button.gs_btn_cre:active {
  background-color: #b0281a;
}
button:disabled,
button:disabled:hover,
button:disabled:active {
  cursor: default;
  color: #b8b8b8;
  border-color: rgba(0, 0, 0, 0.05);
  background-color: transparent;
  z-index: 0;
}
button.gs_btn_flat:disabled {
  color: #b8b8b8;
  border-color: transparent;
}
button.gs_btn_act:disabled {
  color: #fff;
  background-color: #a6c8ff;
}
button.gs_btn_cre:disabled {
  color: #fff;
  background-color: #e8a49b;
}
a.gs_in_ib.gs_dis {
  cursor: default;
  pointer-events: none;
}
a.gs_in_ib.gs_dis .gs_lbl {
  color: #b8b8b8;
  text-decoration: none;
}
.gs_ttp {
  position: absolute;
  top: 100%;
  right: 50%;
  z-index: 10;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.13s, opacity 0.13s ease-out;
}
button:hover .gs_ttp,
button:focus .gs_ttp,
a:hover .gs_ttp,
a:focus .gs_ttp {
  transition: visibility 0s 0.3s, opacity 0.13s ease-in 0.3s;
  visibility: visible;
  opacity: 1;
}
.gs_md_tb.gs_sel .gs_ttp {
  transition: none;
  visibility: hidden;
}
button.gs_btn_lrge.gs_btn_cir .gs_ttp {
  top: 75%;
}
.gs_ttp .gs_aro,
.gs_ttp .gs_aru {
  position: absolute;
  top: -2px;
  right: -5px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border: 5px solid transparent;
  border-top: none;
  border-bottom-color: #595959;
  z-index: 1;
}
.gs_ttp .gs_aro {
  top: -3px;
  right: -6px;
  border-width: 6px;
  border-top: none;
  border-bottom-color: white;
}
.gs_ttp .gs_txt {
  display: block;
  position: relative;
  top: 2px;
  right: -50%;
  padding: 4px 6px;
  background: #595959;
  color: white;
  font-size: 11px;
  font-weight: bold;
  line-height: normal;
  white-space: nowrap;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
.gs_press,
.gs_in_se,
.gs_tan {
  touch-action: none;
}
.gs_in_se .gs_lbl:not(:empty) {
  padding-right: 14px;
}
.gs_in_se .gs_icm {
  position: absolute;
  top: 50%;
  margin-top: -5.5px;
  right: 0;
  width: 7px;
  height: 11px;
  background-position: -21px -88px;
  opacity: 0.55;
}
.gs_in_se:hover .gs_icm {
  opacity: 0.72;
}
.gs_in_se:active .gs_icm {
  opacity: 1;
}
.gs_in_se:disabled .gs_icm {
  opacity: 0.28;
}
.gs_el_ta .gs_btn_hta .gs_icm,
.gs_el_ph .gs_btn_hph .gs_icm,
.gs_el_ta .gs_btn_mta .gs_icm,
.gs_el_ph .gs_btn_mph .gs_icm,
.gs_el_ta .gs_btn_cta .gs_icm,
.gs_el_ph .gs_btn_cph .gs_icm {
  display: none;
}
.gs_btn_mnu .gs_icm {
  margin-top: -3.5px;
  height: 7px;
  background-position: 0 -110px;
}
.gs_in_se.gs_btn_act .gs_icm,
.gs_in_se.gs_btn_cre .gs_icm {
  margin-top: -3.5px;
  height: 7px;
  background-position: -42px -44px;
  opacity: 1;
}
.gs_btn_act:disabled .gs_icm,
.gs_btn_cre:disabled .gs_icm {
  opacity: 0.72;
}
button.gs_btnG .gs_ico {
  width: 21px;
  height: 21px;
  background-position: -92px -253px;
}
button .gs_bs {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #eee;
  border-top-color: #4d90fe;
  visibility: hidden;
  animation: gs_anm_spin 0.8s linear infinite;
}
button.gs_bsp .gs_bs {
  visibility: visible;
  transition: visibility 0s 0.4s;
}
.gs_md_d {
  text-transform: none;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1100;
  text-align: left;
  visibility: hidden;
  max-height: 0;
  margin-top: -1000px;
  opacity: 0;
  transition: opacity 0.13s, visibility 0s 0.13s, max-height 0s 0.13s,
    margin-top 0s 0.13s;
}
.gs_md_d.gs_vis {
  visibility: visible;
  max-height: 10000px;
  margin-top: 0;
  opacity: 1;
  transition: all 0s;
}
.gs_el_tc .gs_md_d {
  transform-origin: 100% 0;
  transform: scale(1, 0);
  transition: opacity 0.218s ease-out, transform 0s 0.218s, visibility 0s 0.218s,
    max-height 0s 0.218s, margin-top 0s 0.218s;
}
.gs_el_ios .gs_md_d {
  -webkit-backface-visibility: hidden;
}
.gs_el_tc .gs_md_d.gs_ttzi {
  transform-origin: 50% 50%;
  transform: scale(0, 0);
}
.gs_el_tc .gs_md_d.gs_ttzr {
  transform: scale(0, 0);
}
.gs_el_tc .gs_md_d.gs_vis {
  transform: scale(1, 1);
  transition: transform 0.218s ease-out;
}
.gs_md_r {
  position: relative;
  display: inline-block;
}
.gs_md_rmb > .gs_md_d {
  top: 29px;
}
.gs_md_rmbl > .gs_md_d {
  top: 41px;
}
.gs_md_ul {
  list-style-type: none;
  word-wrap: break-word;
  display: inline-block;
  vertical-align: top;
}
.gs_md_ul.gs_md_ul_tb {
  display: block;
}
.gs_md_li,
.gs_in_cb.gs_md_li,
.gs_md_li:link,
.gs_md_li:visited {
  display: block;
  padding: 6px 44px 6px 16px;
  font-size: 13px;
  line-height: 16px;
  color: #222;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  z-index: 0;
}
a.gs_md_li:hover .gs_lbl,
a.gs_md_li:active .gs_lbl {
  text-decoration: none;
}
.gs_el_tc .gs_md_li {
  padding-top: 14px;
  padding-bottom: 10px;
}
.gs_md_li.gs_md_lix {
  font-size: 16px;
  line-height: 20px;
  padding: 12px 16px 8px 16px;
}
.gs_md_li:before {
  content: "";
  background-color: #f1f1f1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.13s;
  z-index: -1;
}
.gs_md_li:hover:before,
.gs_md_li:focus:before {
  opacity: 1;
  transition: all 0s;
}
a.gs_in_ib.gs_md_li .gs_lbl {
  color: #222;
}
a.gs_in_ib.gs_md_li.gs_in_gray .gs_lbl {
  color: #444;
}
.gs_md_li:active:before {
  background-color: #ddd;
}
.gs_md_li.gs_sel,
a.gs_in_ib.gs_md_li.gs_sel .gs_lbl {
  color: #d14836;
}
.gs_md_d:focus,
.gs_md_li:focus {
  outline: none;
}
a.gs_md_lix .gs_lbl,
a.gs_md_lix .gs_lbl:not(:empty) {
  padding: 0 0 0 40px;
}
a.gs_in_cb:link,
a.gs_in_cb:visited,
a.gs_in_cb:active,
a.gs_in_cb:hover {
  cursor: pointer;
  color: #222;
  text-decoration: none;
}
.gs_in_cb,
.gs_in_ra {
  position: relative;
  line-height: 16px;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
}
.gs_in_cb.gs_md_li {
  padding: 6px 44px 6px 16px;
}
.gs_in_cb input,
.gs_in_ra input {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.gs_in_ra input {
  top: 0;
  left: 0;
}
.gs_el_tc .gs_in_cb input {
  top: 9px;
}
.gs_el_tc .gs_in_ra input {
  top: 8px;
}
.gs_in_cb.gs_in_cbj input {
  top: 15px;
  left: 15px;
}
.gs_in_cb label,
.gs_in_cb .gs_lbl,
.gs_in_ra label {
  display: inline-block;
  padding-left: 21px;
  min-height: 16px;
}
.gs_in_ra_lrge {
  font-size: 15px;
}
.gs_in_cb label:empty:before,
.gs_in_cb .gs_lbl:empty:before,
.gs_in_ra label:empty:before {
  content: "\200b";
}
.gs_el_tc .gs_in_cb label,
.gs_el_tc .gs_in_cb .gs_lbl,
.gs_el_tc .gs_in_ra label {
  padding-top: 8px;
  padding-bottom: 5px;
}
.gs_in_cb.gs_in_cbj label,
.gs_in_cb.gs_in_cbj .gs_lbl {
  padding: 13px 0 12px 41px;
}
.gs_in_cbb,
.gs_in_cbb label,
.gs_in_cbb .gs_lbl {
  display: block;
}
.gs_in_cb .gs_cbx,
.gs_in_ra .gs_cbx {
  position: absolute;
}
.gs_in_cb .gs_cbx {
  top: 2px;
  left: 2px;
  width: 11px;
  height: 11px;
  border: 1px solid #c6c6c6;
  border-radius: 1px;
}
.gs_md_li .gs_cbx {
  top: 8px;
  left: 18px;
}
.gs_el_tc .gs_in_cb .gs_cbx {
  top: 10px;
}
.gs_el_tc .gs_md_li .gs_cbx {
  top: 16px;
}
.gs_in_cb.gs_in_cbj .gs_cbx {
  top: 15px;
  left: 15px;
}
.gs_el_tc .gs_in_ra .gs_cbx {
  top: 8px;
}
.gs_in_ra .gs_cbx {
  top: 0;
  left: 0;
  border: 1px solid #c6c6c6;
  width: 13px;
  height: 13px;
  border-radius: 7px;
}
.gs_in_cb:hover .gs_cbx,
.gs_in_ra:hover .gs_cbx {
  border-color: #666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
button.gs_in_cb:hover .gs_cbx {
  border-color: #c6c6c6;
}
.gs_in_cb :focus ~ label,
.gs_in_ra :focus ~ label {
  outline: 1px dotted #222;
  outline: auto -webkit-focus-ring-color;
}
.gs_pfcs .gs_in_cb :focus ~ label,
.gs_pfcs .gs_in_ra :focus ~ label {
  outline: none;
}
.gs_in_cb:active .gs_cbx,
.gs_in_ra:active .gs_cbx,
.gs_in_cb .gs_cbx:active,
.gs_in_ra .gs_cbx:active,
.gs_in_cb :active ~ .gs_cbx,
.gs_in_ra :active ~ .gs_cbx {
  border-color: #666;
  background-color: #ebebeb;
}
button.gs_in_cb:active .gs_cbx {
  border-color: #a6a6a6;
}
.gs_in_cb :disabled ~ .gs_cbx,
.gs_in_ra :disabled ~ .gs_cbx,
button.gs_in_cb:disabled .gs_cbx {
  border-color: #f1f1f1;
  box-shadow: none;
}
.gs_in_cb :disabled ~ label,
.gs_in_ra :disabled ~ label {
  color: #b8b8b8;
}
.gs_in_cb.gs_err .gs_cbx {
  border-color: #eda29b;
}
.gs_in_cb .gs_chk,
.gs_in_ra .gs_chk {
  position: absolute;
  z-index: 1;
  top: -3px;
  left: -2px;
  width: 21px;
  height: 21px;
}
.gs_md_li .gs_chk {
  top: 3px;
  left: 14px;
}
.gs_el_tc .gs_in_cb .gs_chk {
  top: 5px;
}
.gs_el_tc .gs_md_li .gs_chk {
  top: 11px;
}
.gs_in_cb.gs_in_cbj .gs_chk {
  top: 10px;
  left: 11px;
}
.gs_in_ra .gs_chk {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 4px;
}
.gs_el_tc .gs_in_ra .gs_chk {
  top: 12px;
}
.gs_in_cb input:checked ~ .gs_chk,
.gs_in_cb.gs_sel .gs_chk {
  background: no-repeat url(/intl/en/scholar/images/1x/sprite_20161020.png) -69px -67px;
  opacity: 0.62;
}
.gs_in_ra input:checked ~ .gs_chk {
  background-color: #666;
}
.gs_in_cb.gs_par .gs_chk {
  background: no-repeat url(/intl/en/scholar/images/1x/sprite_20161020.png) -21px -44px;
  opacity: 0.55;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .gs_in_cb input:checked ~ .gs_chk,
  .gs_in_cb.gs_sel .gs_chk,
  .gs_in_cb.gs_par .gs_chk {
    background-image: url(/intl/en/scholar/images/2x/sprite_20161020.png);
    background-size: 169px;
  }
}
.gs_in_cb input:checked:disabled ~ .gs_chk {
  opacity: 0.22;
}
.gs_in_ra input:checked:disabled ~ .gs_chk {
  background-color: #f1f1f1;
}
.gs_in_cb.gs_bsp .gs_cbx {
  top: 6px;
  left: 16px;
  border-radius: 6px;
  border-width: 3px;
  animation: gs_cbx_spn 0.5s infinite linear;
}
.gs_el_tc .gs_in_cb.gs_md_li.gs_bsp .gs_cbx {
  top: 14px;
}
.gs_in_cb .gs_csp {
  background: url("/intl/en/scholar/images/spinner.gif") no-repeat;
  position: absolute;
  height: 25px;
  width: 25px;
  top: 2px;
  left: 12px;
  display: none;
  animation: gs_cbx_ah 9s infinite;
}
.gs_in_cb.gs_bsp .gs_csp {
  display: block;
}
.gs_el_tc .gs_md_li .gs_csp {
  top: 10px;
}
@keyframes gs_cbx_spn {
  0%,
  100% {
    border-color: #4d90fe #c6c6c6 #c6c6c6 #c6c6c6;
  }
  40% {
    border-color: #c6c6c6 #4d90fe #c6c6c6 #c6c6c6;
  }
  50% {
    border-color: #c6c6c6 #c6c6c6 #4d90fe #c6c6c6;
  }
  60% {
    border-color: #c6c6c6 #c6c6c6 #c6c6c6 #4d90fe;
  }
}
@keyframes gs_cbx_ah {
  0%,
  100% {
    visibility: hidden;
  }
}
.gs_ico_x {
  background-position: -113px -22px;
  opacity: 0.55;
}
.gs_ico_x:hover {
  opacity: 0.72;
}
.gs_ico_x:active {
  opacity: 1;
}
.gs_ico_X {
  background-position: -71px 0;
  opacity: 0.55;
}
.gs_ico_X:hover {
  opacity: 0.72;
}
.gs_ico_X:active {
  opacity: 1;
}
.gs_el_tc .gs_ico_Xt {
  background-origin: content-box;
  background-clip: content-box;
  padding: 10px 6px 10px 14px;
}
.gs_ico_P {
  background-position: 0 0;
  opacity: 0.55;
}
.gs_ico_P:hover {
  opacity: 0.72;
}
.gs_ico_P:active {
  opacity: 1;
}
.gs_btnP .gs_ico {
  background-position: -21px 0;
}
.gs_btnC .gs_ico {
  background-position: 0 -66px;
}
.gs_btnL .gs_ico {
  background-position: -92px -44px;
}
.gs_ico_LB {
  background-position: -50px -44px;
  height: 16px;
}
.gs_btnJ .gs_ico {
  background-position: -92px -22px;
}
.gs_btnM .gs_ico {
  background-position: -92px 0;
}
.gs_btnMW .gs_ico {
  background-position: -21px -22px;
}
.gs_btnSB .gs_ico {
  background-position: 0 -44px;
}
.gs_btnTSB .gs_ico {
  background-position: -115px -253px;
}
.gs_btnPL .gs_ico {
  background-position: -148px -66px;
}
.gs_btnPR .gs_ico {
  background-position: -21px -66px;
}
.gs_btnPLW .gs_ico {
  background-position: -0 -230px;
}
.gs_btnPRW .gs_ico {
  background-position: -23px -230px;
}
.gs_btnZI .gs_ico {
  background-position: -148px -22px;
}
.gs_btnZO .gs_ico {
  background-position: -127px -44px;
}
.gs_btnDE .gs_ico {
  background-position: -134px 0;
}
.gs_btnFI .gs_ico {
  background-position: -50px -66px;
}
.gs_btnAD .gs_ico {
  background-position: -141px -88px;
  opacity: 0.55;
}
.gs_btnAD:hover .gs_ico {
  opacity: 0.72;
}
.gs_btnAD:active .gs_ico,
.gs_btnAD .gs_ico:active,
.gs_btnAD :active ~ .gs_ico {
  opacity: 1;
}
.gs_btnBA .gs_ico {
  background-position: -50px -22px;
}
.gs_btnADD .gs_ico {
  background-position: -92px -66px;
}
.gs_btnMRG .gs_ico {
  background-position: -113px 0;
}
.gs_btnLBL .gs_ico {
  background-position: 0 -161px;
}
.gs_btnCNCL .gs_ico {
  background-position: -71px 0;
}
.gs_btnDWL .gs_ico {
  background-position: -28px -88px;
}
.gs_btnMNU .gs_ico {
  background-position: 0 -88px;
}
.gs_btnMNT .gs_ico {
  background-position: -46px -161px;
}
.gs_btnALT .gs_ico {
  background-position: -92px -161px;
}
.gs_btnART .gs_ico {
  background-position: -115px -161px;
}
.gs_btnGSL .gs_ico {
  background-position: -69px -161px;
}
.gs_btnCLS .gs_ico {
  background-position: -138px -161px;
}
.gs_btnXBLU .gs_ico {
  background-position: -138px -253px;
}
.gs_btnSSB .gs_ico {
  background-position: 0 -276px;
}
.gs_btnSSW .gs_ico {
  background-position: -23px -276px;
}
.gs_btnFLT .gs_ico {
  background-position: 0 -184px;
}
.gs_btnXT .gs_ico {
  background-position: -46px -184px;
}
.gs_btnPD .gs_ico {
  background-position: -69px -184px;
}
.gs_btnPU .gs_ico {
  background-position: -92px -276px;
}
.gs_btnCP .gs_ico {
  background-position: -92px -184px;
}
.gs_btnTP .gs_ico {
  background-position: -138px -184px;
}
.gs_btnML .gs_ico {
  background-position: -115px -276px;
}
.gs_btnCHK .gs_ico {
  background-position: -71px -66px;
}
.gs_btnDNB .gs_ico {
  background-position: -115px -230px;
}
.gs_btnDNW .gs_ico {
  background-position: 0 -207px;
}
.gs_btnACA .gs_ico {
  background-position: -23px -207px;
}
.gs_btnAPT .gs_ico {
  background-position: -46px -207px;
}
.gs_btnAPTW .gs_ico {
  background-position: -92px -230px;
}
.gs_btnAFL .gs_ico {
  background-position: -69px -207px;
}
.gs_btnAN .gs_ico {
  background-position: -46px -276px;
}
.gs_btnAI .gs_ico {
  background-position: -69px -276px;
}
.gs_btnPBL .gs_ico {
  background-position: -92px -207px;
}
.gs_btnUCT .gs_ico {
  background-position: -115px -207px;
}
.gs_btnVRF .gs_ico {
  background-position: -138px -207px;
}
.gs_btnLSI .gs_ico {
  background-position: -46px -230px;
}
.gs_btnLSG .gs_ico {
  background-position: -69px -230px;
}
.gs_btnMOR .gs_ico {
  background-position: -23px -253px;
}
.gs_btnADV .gs_ico {
  background-position: -46px -253px;
}
.gs_btnPRO .gs_ico {
  background-position: -69px -253px;
}
.gs_ico_star {
  background-position: -71px -44px;
  width: 13px;
  height: 13px;
}
.gs_btnPLSW .gs_ico {
  background-position: -138px -230px;
}
.gs_btnPDF .gs_ico {
  background-position: 0 -253px;
}
.gs_btnS .gs_ico {
  background-position: -138px -276px;
}
.gs_btnUNS .gs_ico {
  background-position: 0 -299px;
}
.gs_btnMORR .gs_ico {
  background-position: -23px -299px;
}
.gs_btnTW .gs_ico {
  background-position: -46px -299px;
}
.gs_btnIN .gs_ico {
  background-position: -69px -299px;
}
.gs_btnFB .gs_ico {
  background-position: -92px -299px;
}
.gs_btnET .gs_ico {
  background-position: -115px -299px;
}
.gs_btnARC .gs_ico {
  background-position: -138px -299px;
}
.gs_btnOL .gs_ico {
  background-position: 0px -322px;
}
.gs_btnFA .gs_ico {
  background-position: -23px -322px;
}
.gs_btnFAD .gs_ico {
  background-position: -46px -322px;
}
.gs_btnHP .gs_ico {
  background-position: -69px -322px;
}
#gs_md_s.gs_hdr_drs {
  transition: opacity 0.15s, visibility 0s 0.15s;
}
#gs_md_s.gs_hdr_drs.gs_vis {
  transition: opacity 0.15s, visibility 0s;
}
.gs_el_tc #gs_md_s.gs_hdr_drs {
  transition: opacity 0.218s, visibility 0s 0.218s;
}
.gs_el_tc #gs_md_s.gs_hdr_drs.gs_vis {
  transition: opacity 0.218s, visibility 0s;
}
#gs_hdr_drw {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1200;
  visibility: hidden;
  overflow: auto;
  width: 228px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  transform: translate(-100%, 0);
  transition: transform 0.15s ease-in-out, visibility 0s 0.15s;
}
#gs_hdr_drw.gs_vis {
  visibility: visible;
  transform: translate(0, 0);
  transition: transform 0.15s ease-in-out, visibility 0s;
}
.gs_el_tc #gs_hdr_drw {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.6, 1), visibility 0s 0.3s;
}
.gs_el_tc #gs_hdr_drw.gs_vis {
  transition: transform 0.225s cubic-bezier(0, 0, 0.2, 1), visibility 0s;
}
#gs_top #gs_hdr_drw.gs_abt,
#gs_top #gs_md_s.gs_abt {
  transition: none;
}
#gs_hdr_drw_in {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  padding: 0 0 8px 0;
}
.gs_el_ta #gs_hdr_drw_in,
.gs_el_ph #gs_hdr_drw_in {
  padding: 0 0 65px 0;
}
#gs_hdr_drw_top {
  position: relative;
  height: 63px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 8px;
}
.gs_el_ta #gs_hdr_drw_top,
.gs_el_ph #gs_hdr_drw_top {
  height: 57px;
}
#gs_hdr_drw_mnu,
#gs_hdr_drw_lgo {
  position: absolute;
  top: 0;
  height: 100%;
}
#gs_hdr_drw_mnu {
  left: 0;
  width: 55px;
}
#gs_hdr_drw_lgo {
  left: 56px;
}
.gs_hdr_drw_sec:before {
  display: block;
  content: " ";
  height: 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 8px 0;
}
.gs_hdr_drw_sec:first-child:before {
  display: none;
}
#gs_hdr_drw_bot {
  display: none;
}
.gs_el_ta #gs_hdr_drw_bot,
.gs_el_ph #gs_hdr_drw_bot {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
}
#gs_hdr_drw_bot .gs_md_li:before {
  opacity: 0;
}
#gs_hdr_drw_bot .gs_hdr_pp {
  display: block;
  position: absolute;
  bottom: 14px;
  left: 15px;
  pointer-events: none;
}
#gs_hdr_drw_bot .gs_lbl {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#gs_hdr {
  position: relative;
  height: 63px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
}
.gs_el_ta #gs_hdr,
.gs_el_ph #gs_hdr {
  height: 57px;
}
#gs_hdr_mnu,
#gs_hdr_bck,
#gs_hdr_lgo,
#gs_hdr_lgt,
#gs_hdr_md,
#gs_hdr_sre,
#gs_hdr_act {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 100%;
  flex: 0 0 auto;
}
#gs_hdr_md {
  flex: 1 1 auto;
}
#gs_hdr .gs_hdr_mbo,
#gs_hdr .gs_hdr_mbo,
.gs_el_ta #gs_hdr .gs_hdr_dso,
.gs_el_ph #gs_hdr .gs_hdr_dso {
  display: none;
}
.gs_el_ta #gs_hdr .gs_hdr_mbo,
.gs_el_ph #gs_hdr .gs_hdr_mbo {
  display: inline-block;
}
#gs_hdr_mnu,
#gs_hdr_bck,
#gs_hdr_sre {
  width: 55px;
  margin-right: 1px;
}
#gs_hdr_lgo,
#gs_hdr_drw_lgo {
  width: 149px;
  background: no-repeat url("/intl/en/scholar/images/1x/scholar_logo_24dp.png")
    0% 50%;
  background-size: 149px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #gs_hdr_lgo,
  #gs_hdr_drw_lgo {
    background-image: url("/intl/en/scholar/images/2x/scholar_logo_24dp.png");
  }
}
#gs_hdr_lgo {
  margin-right: 31px;
}
.gs_el_ph #gs_hdr_lgo {
  margin-right: 0;
}
#gs_hdr_lgt {
  min-width: 164px;
  margin-right: 16px;
}
#gs_hdr_md {
  margin-right: 16px;
  min-width: 1px;
}
#gs_hdr_lgt,
#gs_hdr_md h1 {
  padding: 19px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 25px;
  font-weight: normal;
  color: #666;
  max-width: 100%;
  text-align: left;
}
.gs_el_ta #gs_hdr_md h1,
.gs_el_ph #gs_hdr_md h1 {
  padding: 16px 0 0 0;
}
#gs_hdr_srch {
  padding: 14px 0 0 0;
  max-width: 600px;
}
.gs_el_ta #gs_hdr_srch,
.gs_el_ph #gs_hdr_srch {
  padding: 10px 0 0 0;
  max-width: none;
}
#gs_hdr_frm {
  position: relative;
  padding-right: 39px;
}
#gs_hdr_tsi {
  height: 38px;
  border-radius: 2px 0 0 2px;
}
#gs_hdr_tsi::-ms-clear {
  display: none;
}
#gs_hdr_tsc {
  display: none;
  position: absolute;
  top: 3px;
  right: 41px;
  width: 21px;
  height: 21px;
  padding: 6px 10px 7px 10px;
}
.gs_in_acw[dir="rtl"] ~ #gs_hdr_tsc {
  right: auto;
  left: 1px;
}
#gs_hdr_tsb {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 38px;
  border-radius: 0 2px 2px 0;
}
#gs_hdr_frm_ac {
  top: 37px;
  right: 40px;
}
.gs_el_ph #gs_hdr_frm_ac {
  right: 0;
}
.gs_el_ph .gs_hdr_ifc #gs_hdr_mnu,
.gs_el_ph .gs_hdr_ifc #gs_hdr_bck,
.gs_hdr_src #gs_hdr_srch,
.gs_hdr_src #gs_hdr_lgt,
.gs_hdr_srx #gs_hdr_sre,
.gs_hdr_srx #gs_hdr_md h1,
.gs_hdr_srx #gs_hdr_md h1.gs_hdr_mbo,
.gs_hdr_srx #gs_hdr_md h1.gs_hdr_dso,
.gs_el_ta .gs_hdr_srx #gs_hdr_lgo,
.gs_el_ph .gs_hdr_srx #gs_hdr_lgo,
.gs_el_ph .gs_hdr_srx #gs_hdr_mnu,
.gs_el_ph .gs_hdr_srx #gs_hdr_bck {
  display: none;
}
.gs_el_ph .gs_hdr_ifc #gs_hdr_md,
.gs_el_ph .gs_hdr_srx #gs_hdr_md {
  margin-left: 16px;
}
.gs_el_tc .gs_hdr_tsc #gs_hdr_tsi[dir="ltr"] {
  padding-right: 41px;
}
.gs_el_tc .gs_hdr_tsc #gs_hdr_tsi[dir="rtl"] {
  padding-left: 41px;
}
.gs_el_tc .gs_hdr_tsc .gs_in_acw ~ #gs_hdr_tsc {
  display: block;
}
#gs_hdr_act {
  min-width: 64px;
  max-width: 200px;
  text-align: right;
  float: right;
}
.gs_el_ta #gs_hdr_act,
.gs_el_ph #gs_hdr_act {
  display: none;
}
#gs_hdr_act_i,
#gs_hdr_act_s {
  display: inline-block;
  padding: 23px 24px 23px 16px;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #444;
}
#gs_hdr_act_s {
  text-transform: uppercase;
}
.gs_el_sm #gs_hdr_act_i,
.gs_el_sm #gs_hdr_act_s {
  padding: 23px 16px;
}
.gs_el_ta #gs_hdr_act_i,
.gs_el_ta #gs_hdr_act_s,
.gs_el_ph #gs_hdr_act_i,
.gs_el_ph #gs_hdr_act_s {
  padding: 20px 16px;
}
#gs_hdr_act_i:active,
#gs_hdr_act_s:active {
  color: #d14836;
}
#gs_hdr_act_i,
.gs_el_sm #gs_hdr_act_i {
  padding-top: 15px;
  padding-bottom: 16px;
}
.gs_el_ta #gs_hdr_act_i,
.gs_el_ph #gs_hdr_act_i {
  padding-top: 12px;
  padding-bottom: 13px;
}
#gs_hdr_act_i .gs_hdr_pp {
  vertical-align: top;
}
#gs_hdr_act_d {
  top: 63px;
  left: auto;
  right: 24px;
  min-width: 288px;
  max-width: 400px;
}
.gs_el_sm #gs_hdr_act_d {
  right: 16px;
}
.gs_el_ta #gs_hdr_act_d {
  top: 57px;
}
.gs_el_ph #gs_hdr_act_d {
  top: 57px;
  min-width: 280px;
  max-width: 280px;
  max-width: 90vw;
} /* Account dialog body. */
#gs_hdr_act_aw,
#gs_hdr_act_ap,
.gs_hdr_act_am,
#gs_hdr_act_ab {
  display: block;
  padding: 10px 20px;
  word-wrap: break-word;
  white-space: normal;
}
#gs_hdr_act_aw {
  background-color: #fef9db;
  font-size: 11px;
}
#gs_hdr_act_ap,
.gs_hdr_act_am {
  border-bottom: 1px solid #ccc;
}
#gs_hdr_act_ap {
  padding: 20px;
}
.gs_el_ph #gs_hdr_act_ap {
  padding: 10px;
}
#gs_hdr_act_apb {
  margin-top: 12px;
}
#gs_hdr_act_aa:link,
#gs_hdr_act_aa:visited {
  float: right;
  margin-left: 8px;
  color: #1a0dab;
}
#gs_hdr_act_aa:active {
  color: #d14836;
}
.gs_hdr_act_am:link,
.gs_hdr_act_am:visited {
  color: #222;
  text-decoration: none;
  background: #fbfbfb;
}
.gs_hdr_act_am:hover,
.gs_hdr_act_am:focus {
  background: #f1f1f1;
}
.gs_hdr_act_am:active {
  background: #eee;
}
#gs_hdr_act_ab {
  background: #fbfbfb;
  padding: 10px 0;
  display: table;
  width: 100%;
  white-space: nowrap;
}
#gs_hdr_act_aba,
#gs_hdr_act_abs {
  display: table-cell;
  padding: 0 20px;
}
#gs_hdr_act_abs {
  text-align: right;
}
.gs_el_ph #gs_hdr_act_aba,
.gs_el_ph #gs_hdr_act_abs {
  display: block;
  padding: 10px;
  text-align: center;
}
.gs_el_ph #gs_hdr_act_aba button,
.gs_el_ph #gs_hdr_act_abs button {
  width: 100%;
}
#gs_hdr_act_a1,
#gs_hdr_act_a2 {
  position: absolute;
  top: -9px;
  right: 7.5px;
  width: 0;
  height: 0;
  z-index: 1;
  border: 8.5px solid transparent;
  border-top: none;
  border-bottom-color: #333;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
#gs_hdr_act_a2 {
  top: -8px;
  border-bottom-color: #fff;
}
.gs_hdr_act_mw #gs_hdr_act_a2 {
  border-bottom-color: #fef9db;
}
.gs_hdr_pp {
  border-radius: 50%;
  overflow: hidden;
}
#gs_hdr_act_ap .gs_hdr_pp,
.gs_hdr_act_am .gs_hdr_pp {
  float: left;
}
#gs_hdr_act_ap .gs_hdr_pm {
  margin-left: 116px;
}
.gs_hdr_act_am .gs_hdr_pm {
  margin: 6px 0 0 58px;
}
#gs_ab {
  position: relative;
  height: 41px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  white-space: nowrap;
  background-color: #fff;
  z-index: 1000;
}
.gs_el_ta #gs_ab.gs_nta,
.gs_el_ph #gs_ab.gs_nph {
  display: none;
}
#gs_ab_g {
  height: 42px;
}
.gs_sth_vis #gs_ab {
  position: fixed;
}
#gs_ab_ico,
#gs_ab_ttl,
#gs_ab_md,
#gs_ab_btns {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 100%;
  flex: 0 0 auto;
}
.gs_el_ph #gs_ab_md {
  display: block;
}
#gs_ab_ico {
  width: 55px;
  margin-right: 1px;
}
#gs_ab_ico .gs_ico {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10.5px 0 0 -10.5px;
}
#gs_ab_ttl {
  min-width: 172px;
  padding-right: 8px;
}
.gs_el_sm #gs_ab_ttl {
  min-width: 68px;
}
.gs_el_ta #gs_ab_ttl,
.gs_el_ph #gs_ab_ttl {
  min-width: 0;
}
#gs_ab_ttl,
#gs_ab_ttll {
  font-size: 18px;
  color: #666;
  text-transform: none;
}
.gs_el_sm #gs_ab_ttl,
.gs_el_sm #gs_ab_ttll {
  font-size: 16px;
}
#gs_ab_ttll {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
#gs_ab_md {
  flex: 1 0 auto;
}
.gs_ab_st #gs_ab_md {
  flex: 1 1 auto;
  font-size: 13px;
  line-height: 17px;
  padding: 0 8px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gs_el_ph .gs_ab_st #gs_ab_md {
  visibility: hidden;
  padding: 0;
}
#gs_ab_btns {
  margin-right: 8px;
}
.gs_el_sm #gs_ab_btns {
  margin-right: 0;
}
.gs_el_ta #gs_ab_btns,
.gs_el_ph #gs_ab_btns {
  margin-right: 4px;
}
#gs_ab_ttl:before,
#gs_ab_md:before,
#gs_ab_btns:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
#gs_ab_md > button,
#gs_ab_btns > button,
#gs_ab_md > .gs_in_ib,
#gs_ab_btns > .gs_in_ib,
#gs_ab_md > .gs_md_r,
#gs_ab_btns > .gs_md_r,
#gs_ab .gs_ab_mdw,
#gs_ab .gs_ab_btw {
  margin: 0 8px;
  vertical-align: middle;
}
#gs_ab .gs_ab_mdw,
.gs_ab_btw {
  display: inline-block;
  margin: 0;
}
#gs_ab_btns > .gs_in_ib {
  margin: 0 16px 0 8px;
}
#gs_ab .gs_ab_btw {
  margin: 0 12px 0 16px;
}
.gs_el_ta .gs_ab_sel #gs_ab_ico,
.gs_el_ph .gs_ab_sel #gs_ab_ico,
.gs_el_ta .gs_ab_sel #gs_ab_ttl,
.gs_el_ph .gs_ab_sel #gs_ab_ttl,
.gs_el_ta .gs_ab_sel #gs_ab_btns,
.gs_el_ph .gs_ab_sel #gs_ab_btns {
  display: none;
}
#gs_bdy {
  display: table;
  table-layout: fixed;
  width: 100%;
}
#gs_bdy_sb {
  vertical-align: top;
  width: 228px;
  word-wrap: break-word;
  display: table-cell;
}
.gs_el_sm #gs_bdy_sb {
}
.gs_el_ta #gs_bdy_sb,
.gs_el_ph #gs_bdy_sb {
  display: none;
}
.gs_bdy_sb_sec {
  margin: 0 40px 0 56px;
}
.gs_bdy_sb_sec:before {
  display: block;
  content: " ";
  height: 0;
  margin: 13px 0;
  border-top: 1px solid #eee;
}
.gs_bdy_sb_sec:first-child:before {
  margin: 21px 0 0 0;
  border: none;
}
#gs_bdy_sb ul {
  list-style-type: none;
}
.gs_bdy_sb_sec a:link,
.gs_bdy_sb_sec a:visited {
  color: #222;
}
.gs_bdy_sb_sec a:active {
  color: #d14836;
}
.gs_bdy_sb_sel a:link,
.gs_bdy_sb_sel a:visited {
  color: #d14836;
  text-decoration: none;
}
.gs_el_tc .gs_bdy_sb_sec li.gs_ind,
.gs_el_tc .gs_bdy_sb_sec li.gs_ind a {
  padding-top: 8px;
  padding-bottom: 5px;
}
.gs_el_tc .gs_bdy_sb_sec:first-child li.gs_ind:first-child {
  margin-top: -8px;
}
#gs_bdy_sb .gs_ind,
#gs_bdy_sb .gs_inw {
  margin-bottom: 4px;
}
.gs_el_tc #gs_bdy_sb .gs_ind,
.gs_el_tc #gs_bdy_sb .gs_inw {
  margin-bottom: 0;
}
#gs_bdy_ccl {
  display: table-cell;
  vertical-align: top;
  padding: 0 24px 0 16px;
}
.gs_el_sm #gs_bdy_ccl {
  padding: 0 16px;
}
.gs_el_ta #gs_bdy_ccl,
.gs_el_ph #gs_bdy_ccl {
  padding: 0 16px 0 56px;
}
.gs_el_ph #gs_bdy_ccl {
  padding: 0 16px;
  padding: 0;
}
#gs_ftr_sp {
  height: 62px;
}
.gs_el_sm #gs_ftr_sp {
  height: 57px;
}
#gs_ftr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
  border-top: 1px solid #e4e4e4;
  background-color: #f2f2f2;
  display: flex;
}
#gs_ftr_rt {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: auto;
  margin-left: auto;
  padding: 0 12px;
}
.gs_el_sm #gs_ftr_rt {
  padding: 0 8px;
}
.gs_el_ph #gs_ftr_rt:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(242, 242, 242, 0),
    rgba(242, 242, 242, 1) 80%
  );
}
#gs_ftr_rt a {
  display: inline-block;
  line-height: 16px;
  padding: 12px;
  white-space: nowrap;
}
.gs_el_sm #gs_ftr_rt a {
  padding: 12px 8px;
}
#gs_ftr_rt a:link,
#gs_ftr_rt a:visited {
  color: #666;
}
#gs_ftr_rt a:active {
  color: #d14836;
}
#gsc_sb_ui {
  text-align: center;
  margin-bottom: 16px;
}
#gsc_sb_ui img {
  max-width: 120px;
  height: auto;
}
.gs_el_sm #gsc_sb_ui img {
  max-width: 100px;
}
.gsc_sb_addl {
  text-align: right;
  padding: 0 8px;
  color: #777777;
  min-width: 60px;
}
#gsc_ccl {
  max-width: 862px;
  margin: 21px 0 0 0;
}
.gs_el_sm #gsc_ccl {
  margin: 16px 0 0 0;
}
.gsc_art_mm {
  font-size: 24px;
  line-height: 16px;
  display: inline-block;
  margin: -10px 0 0 4px;
  position: relative;
  top: 8px;
}
.gs_pp_tn,
.gs_el_ta .gs_pp_mo_tn,
.gs_el_ph .gs_pp_mo_tn {
  width: 32px;
  height: 32px;
}
.gs_pp_sm,
.gs_el_ta .gs_pp_mo_sm,
.gs_el_ph .gs_pp_mo_sm {
  width: 56px;
  height: 56px;
}
.gs_pp_nm,
.gs_el_ta .gs_pp_mo_nm,
.gs_el_ph .gs_pp_mo_nm {
  width: 128px;
  height: 128px;
}
#gsc_vcpb {
  /* max-width: 870px; */
  padding-top: 21px;
}
.gs_el_ph #gsc_vcpb {
  padding: 16px 8px;
}
#gsc_vcpb_btns {
  padding-bottom: 16px;
}
#gsc_vcpb_btns:empty {
  display: none;
}
#gsc_vcpb_btns > button {
  margin-right: 16px;
}
.gs_el_ph #gsc_vcpb_btns > button {
  margin-right: 8px;
}
#gsc_oci_title_wrapper {
  font-size: 16px;
  margin: 0 0 16px 0;
}
#gsc_oci_title {
  font-size: 20px;
}
.gs_el_sm #gsc_oci_title {
  font-size: 18px;
}
#gsc_oci_title_gg {
  float: right;
  padding: 0 0 8px 16px;
}
.gs_el_ph #gsc_oci_title_gg {
  float: none;
  text-align: right;
  padding: 0;
  margin: -4px 0 8px 0;
}
.gsc_oci_title_ggt {
  font-size: 13px;
  font-weight: bold;
}
.gsc_oci_title_ggut {
  font-size: 13px;
  color: #777;
  padding-bottom: 8px;
}
.gsc_oci_field {
  float: left;
  width: 100px;
  text-align: right;
  color: #777;
}
.gs_el_ph .gsc_oci_field {
  float: none;
  width: auto;
  text-align: left;
  margin-bottom: 4px;
  font-size: 16px;
  color: black;
}
.gsc_oci_value {
  margin-left: 116px;
  max-width: 512px;
  margin-bottom: 16px;
}
.gs_el_ph .gsc_oci_value {
  margin-left: 0;
}
.gsc_oci_merged_snippet {
  margin-bottom: 1em;
}
#gsc_oci_graph_wrapper {
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
  direction: rtl;
}
#gsc_oci_graph {
  position: relative;
  min-width: 100%;
}
#gsc_oci_graph_x {
  position: absolute;
  top: 57px;
  left: 0;
  width: 100%;
  height: 13px;
  border-top: 1px solid #777;
}
.gsc_oci_g_t {
  position: absolute;
  top: 60px;
  color: #777;
  font-size: 11px;
}
#gsc_oci_graph_bars {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
}
.gsc_oci_g_a {
  position: absolute;
  bottom: 13px;
  width: 15px;
  background: #777;
}
.gsc_oci_g_a:hover {
  background: #1a0dab;
  text-decoration: none;
}
.gsc_oci_g_a:active {
  background: #d14836;
}
.gsc_oci_g_al {
  position: absolute;
  bottom: 15px;
  left: 7px;
  color: #222;
  background: white;
  text-align: center;
  font-size: 11px;
  min-width: 11px;
  padding: 1px;
  border: 1px solid #777;
  border-radius: 1px;
  visibility: hidden;
  opacity: 0;
}
.gsc_oci_g_a:hover .gsc_oci_g_al {
  visibility: visible;
  opacity: 1;
}
.gsc_oci_g_a {
  transition: all 0.218s;
}
.gsc_oci_g_al {
  transition: opacity 0.218s, visibility 0s 0.218s;
}
.gsc_oci_g_a:hover,
.gsc_oci_g_a:hover .gsc_oci_g_al {
  transition: all 0s;
}
a.gsc_oci_lbx:link,
a.gsc_oci_lbx:visited {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  background-color: #e5e5e5;
  color: #777;
  padding: 2px 6px;
  text-decoration: none;
}
a.gsc_oci_lbx:hover {
  color: #e5e5e5;
  background-color: #777;
}
a.gsc_oci_lbx:active {
  color: #d14836;
}
.gsc_oms_mm {
  font-size: 24px;
  line-height: 16px;
  display: inline-block;
  margin: -10px 0 0 4px;
  position: relative;
  top: 8px;
}
.gsc_oms_link {
  white-space: nowrap;
  margin-right: 12px;
}
.gsc_oms_link:last-child {
  margin-right: 0;
}
.gs_fsvg line {
  stroke: #222222;
}
a:link .gs_fsvg {
  fill: #1a0dab;
}
a:link .gs_fsvg line {
  stroke: #1a0dab;
}
a:visited .gs_fsvg {
  fill: #660099;
}
a:visited .gs_fsvg line {
  stroke: #660099;
}
a:active .gs_fsvg {
  fill: #d14836;
}
a:active .gs_fsvg line {
  stroke: #d14836;
}
a .gs_fsvg {
  border-bottom: 1px solid transparent;
}
a:hover .gs_fsvg,
a:focus .gs_fsvg {
  border-bottom-color: inherit;
}
.gs_fsml {
  font-size: 13px;
}
.gs_fscp {
  font-variant: small-caps;
}
.gsh_clim {
  display: table-row;
}
.gsh_clil,
.gsh_clic {
  display: table-cell;
  padding-bottom: 8px;
}
.gsh_clil {
  padding-right: 8px;
}
.gsh_lla {
  list-style-type: lower-alpha;
}
.gsh_lua {
  list-style-type: upper-alpha;
}
.gsh_llr {
  list-style-type: lower-roman;
}
.gsh_lur {
  list-style-type: upper-roman;
}
.gsh_l > li {
  margin-left: 32px;
}
.gsh_h3 {
  font-size: inherit;
  font-weight: normal;
}
.gsh_h3,
.gsh_csp {
  margin: 16px 0;
}
.gsh_h3 + .gsh_csp {
  margin-top: -8px;
}
.gsh_ovln {
  text-decoration: overline;
}
.gsh_small .gsh_l .gsh_csp {
  margin: 8px 0;
}
.gsh_small .gsh_csp:first-child,
.gsh_small .gsh_h3:first-child {
  margin-top: 0;
}
.gsh_small .gsh_csp:last-child {
  margin-bottom: 0;
}
.gsh_dspfr {
  text-align: center;
}
.gsh_dspfr svg {
  margin: 8px 0;
}
